#documentacion {
    .textoDocs {
        font-size: 18px;
        font-family: $f-texto;
        font-weight: 400;
        color: $c-carbon;
        line-height: 1.65;
    }

    .subtituloDocs {
        font-family: $f-principal;
        font-weight: 700;
        font-size: 1.25rem;
        letter-spacing: 0.03em;
        color: $c-carbon;
        font-style: normal;
        text-transform: none;
    }
    span.code {
        background-color: rgb(230, 230, 230);
        font-weight: 500;
        padding: 5px 8px;
    }
    span.css {
        background-color: rgb(255, 222, 235);
        font-weight: 500;
        padding: 5px 8px;
        color: $c-rosa;
    }
    .colorBox {
        width: 250px;
        height: 250px;
        border-radius: 4px;
    }
    .colorBoxLined {
        width: 250px;
        height: 250px;
        border-radius: 4px;
        border: 1px solid $c-gris;
    }
   #notShow {
        display: none;
    }
    pre {
        font-size: 18px;
        @media (max-width: 575.98px) {
            font-size: 16px;
        }
    }
    .colorBox {
        width: 250px;
        height: 250px;
        border-radius: 4px;
    }

    .ejemploHeader {
        width: 250px;
        height: 250px;
        border-radius: 4px;
    }
    .claseprueba {
        width: 100%;
    }
}


