#inicio {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 6%;
    @media (min-height: 400.98px) and (max-height: 600px) {
        padding-bottom: 7%;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    .bgGrafico {
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;

        background-image: url('/img/bgFiguras.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .imgWrapper {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #6aff7f;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        width: 100%;
        height: 100%;
        overflow:  hidden;
        z-index: -10;

        &::before {
            background-color:#00007e;
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            mix-blend-mode: lighten;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        img {
            filter: grayscale(100%) contrast(1) blur(0px);
            flex: 1 0 100%;
            height: 100%;
            max-width: 100%;
            mix-blend-mode: multiply;
            object-fit: cover;
            object-position: 85% 50%;
            opacity: 1;
            position: relative;
            width: 100%;
        }
    }

    .tituloImg {
        // margin-top: 350px;
        padding: 7% 12%;
        @media (max-width: 575.98px) {
            padding-bottom: 5%;
        }

    }
}