.blogImagen {
    display: flex;
    flex-flow: row;
    gap: 25px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $c-blanco;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 20px 15px;
    position: relative;
    @media (max-width: 991.98px) {
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .imgCont {
        width: 40%;
        height: 250px;
        border-radius: 4px;
        flex-shrink: 0;

        position: relative;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 991.98px) {
            width: 100%;
        }

        .etiqueta {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 5px 10px;
            border-radius: 50px;

            font-family: $f-principal;
            font-weight: 700;
            font-size: 0.75rem;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
    }
    .cardBody {
        .subtitulo {
            margin-bottom: 5px;
            text-overflow: ellipsis;
        }
        .fecha {
            background: $c-gris;
            color: $c-carbon;
            font-family: $f-texto;
            font-size: 0.95rem;
            font-weight: 600;
            letter-spacing: 0.03em;
            padding: 5px;
            margin-bottom: 10px;
            border-radius: 3px;
        }
        .text {
            margin-top: 10px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

       .cardFooter {
        margin-top: 2rem;
        text-align: end;
            .btn.openLink {
                font-family: $f-principal;
                font-weight: 600;
                font-size: 1.15rem;
                color: $c-morado;
                display: inline;
                padding: 5px;
                transition: all 0.18s;

                &:hover {
                    background: $c-pmorado;
                }
            }
       }
    }
}

.blogCard {
    display: flex;
    flex-flow: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $c-blanco;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 20px 15px;
    position: relative;
    @media (max-width: 991.98px) {
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .cardBody {
        .etiqueta {
            padding: 5px 10px;
            border-radius: 50px;
    
            font-family: $f-principal;
            font-weight: 700;
            font-size: 0.75rem;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        .subtitulo {
            margin-bottom: 5px;
            text-overflow: ellipsis;
        }
        .fecha {
            background: $c-gris;
            color: $c-carbon;
            font-family: $f-texto;
            font-size: 0.95rem;
            font-weight: 600;
            letter-spacing: 0.03em;
            padding: 5px;
            margin-bottom: 10px;
            border-radius: 3px;
        }
        .text {
            margin-top: 10px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

       .cardFooter {
        margin-top: 2rem;
        text-align: end;
            .btn.openLink {
                font-family: $f-principal;
                font-weight: 600;
                font-size: 1.15rem;
                color: $c-morado;
                display: inline;
                padding: 5px;
                transition: all 0.18s;

                &:hover {
                    background: $c-pmorado;
                }
            }
       }
    }
}

