@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@font-face {
    font-family: 'Visby';
    font-style: normal;
    font-weight: 200;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyThin.woff') format('woff');
  }
  @font-face {
    font-family: 'Visby';
    font-style: italic;
    font-weight: 200;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyThin Italic.woff') format('woff');
  }
  /*Light*/
  @font-face {
    font-family: 'Visby';
    font-style: normal;
    font-weight: 300;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyLight.woff') format('woff');
  }
  @font-face {
    font-family: 'Visby';
    font-style: italic;
    font-weight: 300;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyLight Italic.woff') format('woff');
  }
  
  /*regular*/
  @font-face {
    font-family: 'Visby';
    font-style: normal;
    font-weight: 400;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyRegular.woff') format('woff');
  }
  @font-face {
    font-family: 'Visby';
    font-style: italic;
    font-weight: 400;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyItalic.woff') format('woff');
  }
  
  /*Medium*/
  @font-face {
    font-family: 'Visby';
    font-style: normal;
    font-weight: 500;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyMedium.woff') format('woff');
  }
  @font-face {
    font-family: 'Visby';
    font-style: italic;
    font-weight: 500;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyMedium Italic.woff') format('woff');
  }
  
  /*Semi bold*/
  @font-face {
    font-family: 'Visby';
    font-style: normal;
    font-weight: 600;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbySemibold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Visby';
    font-style: italic;
    font-weight: 600;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbySemibold Italic.woff') format('woff');
  }
  
  /*Bold*/
  @font-face {
    font-family: 'Visby';
    font-style: normal;
    font-weight: 700;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyBold.woff') format('woff');
  }
  @font-face {
    font-family: 'Visby';
    font-style: italic;
    font-weight: 700;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyBold Italic.woff') format('woff');
  }
  /*Extra bold*/
  @font-face {
    font-family: 'Visby';
    font-style: normal;
    font-weight: 800;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyExtrabold.woff') format('woff');
  }
  @font-face {
    font-family: 'Visby';
    font-style: italic;
    font-weight: 800;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyExtrabold Italic.woff') format('woff');
  }
  /*Heavy*/
  @font-face {
    font-family: 'Visby';
    font-style: normal;
    font-weight: 900;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyHeavy.woff') format('woff');
  }
  @font-face {
    font-family: 'Visby';
    font-style: italic;
    font-weight: 900;
    src: local('Visby'), url('https://fonts.cdnfonts.com/s/72421/VisbyHeavy Italic.woff') format('woff');
  }


.titulo {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $c-marino;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}

.subtitulo {
  font-family: $f-principal;
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $c-marino;
}

.texto {
  font-family: $f-texto;
  font-weight: 400;
  font-size: 1rem;
  color: $c-carbon;
  line-height: 1.5;
}

.textoBold {
  font-family: $f-texto;
  font-weight: 700;
  font-size: 1rem;
  color: $c-carbon;
  line-height: 1.25;
}

/*BLOCKS EN COLOR*/
.tituloMarino {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: $c-blanco;
  background-color: $c-marino;

  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 1rem;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}
.tituloVerde {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: $c-carbon;
  background-color: $c-verde;
 
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 1rem;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}
.tituloRosa {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: $c-blanco;
  background-color: $c-rosa;
 
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 1rem;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}
.tituloAzul {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: $c-marino;
  background-color: $c-azul;
  
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 1rem;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}
.tituloMorado {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: $c-blanco;
  background-color: $c-morado;
 
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 1rem;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}
.tituloAmarillo {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: $c-carbon;
  background-color: $c-amarillo;
  
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 1rem;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}
.tituloGris {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: $c-carbon;
  background-color: $c-gris;
  
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 1rem;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}
.tituloCarbon {
  font-family: $f-principal;
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: $c-blanco;
  background-color: $c-carbon;
  
  
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 1rem;
  @media (max-width: 575.98px) {
    font-size: 1.75rem;
  }
}

li {
  margin: 10px 0;
}

.justify {
  text-align: justify;
}